@tailwind base;
@tailwind components;

.chess {
  background-image: linear-gradient(45deg, #000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #000 75%),
    linear-gradient(45deg, transparent 75%, #000 75%),
    linear-gradient(45deg, #000 25%, transparent 25%);
  background-size: 2rem 2rem;

  background-position: 0 0, 0 0, -1rem -1rem, 1rem 1rem;
}

::-webkit-scrollbar {
  @apply w-3;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-800;
}
::-webkit-scrollbar-thumb {
  @apply bg-black rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}

.transition-fast {
  transition: 0.3s;
}

.h-small {
  @apply h-[100px];
}

.h-medium {
  @apply h-[200px];
}

.h-large {
  @apply h-[300px];
}

@tailwind utilities;
