@tailwind base;
@tailwind components;

.chess:before {
  content: "";
  @apply inset-0 absolute opacity-5;
  background: url("/src/assets/chess.svg");
  background-size: 24px;
}

::-webkit-scrollbar {
  @apply w-3;
}
::-webkit-scrollbar-track {
  @apply dark:bg-zinc-800 bg-gray-100;
}
::-webkit-scrollbar-thumb {
  @apply dark:bg-black rounded-full bg-gray-300;
}
::-webkit-scrollbar-thumb:hover {
  @apply dark:bg-zinc-600 bg-gray-400;
}

.transition-fast {
  transition: 0.3s;
}

.h-small {
  @apply h-[100px];
}

.h-medium {
  @apply h-[200px];
}

.h-large {
  @apply h-[300px];
}

@tailwind utilities;
